<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="801469bc-4aad-4938-b2f7-421804e9300c"
            Publisher="CN=topchiyska"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>CustomBehavior-SingleSelectionPerLayer</DisplayName>
    <PublisherDisplayName>topchiyska</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="CustomBehavior_SingleSelectionPerLayer.App">
        <VisualElements
            DisplayName="CustomBehavior-SingleSelectionPerLayer"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="CustomBehavior-SingleSelectionPerLayer"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>